

/* Container for FAQ items */
.faq__container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Default single column for mobile */
}

.faq__item {
    background-color: var(--container-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.faq__question {
    font-size: 1rem;
    margin-bottom: 10px;
}

.faq__answer {
    font-size: 1rem;
    color: #555;
}

/* For desktop, two columns */
@media (min-width: 768px) {
    .faq__container {
        grid-template-columns: 1fr ; /* Two columns on desktop */
    }
    .faq__question {
        font-size: 1.2rem;
        
    }
}
